<div class="app">
    <div class="todoList">
        <div class="container">
            <h1 id="title">Simple Todo List</h1>
            <input id="inp" [(ngModel)]="newTask" placeholder="Add a task">
            <button (click)="onAdd()">Add</button>
        </div>
        <div class="list">
            <ul>
                <li class="tasks" *ngFor="let tasks of todo, let i = index">
                    ✔{{tasks}}
                    <button (click)="editTodo(i)">Edit</button>
                    <button (click)="removeTodo(i)">Delete</button>
                </li>
            </ul>
        </div>
            
    </div>
    
</div>